/*
*
*Typography
*
*/
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

/*
*
*Colors
*
*/

$primary-yellow: #FFB400;
$primary-dark: #3C3C3C;
$secondary-dark: #292929;
$background-gray: #F7F7F7;
$border-gray: #C0C0C0;
$neutral-gray: #6C6C6C;
$neutral-dark: #000;
$neutral-white: #FFF;
$alert-success: #2fcb5a;
$alert-info: #45bce1;
$alert-warning: #f3c00b;
$alert-error: #fa3535;
