.ant-btn {
  display: flex ;
  align-items: center;
  justify-content: center;
  height: 42px;
  border-radius: 5px;
  padding: 0 12px;
  &.ant-btn-primary {
    background-color: $primary-yellow;
    border-color: $primary-yellow;
    color: $primary-dark;
    font-size: 1rem;
    font-family: $font-family-roboto !important;
  }
  &.ant-btn-secondary {
    background-color: $primary-yellow;
    border-color: $primary-yellow;
    color: $neutral-white;
    font-size: 1rem;
    font-family: $font-family-roboto !important;
    width: 100%;
  }
}

.ant-form-item{
  margin-bottom: 12px;
}

.ant-input.primary{
  background: transparent;
  height: 46px;
  border: 1px solid $primary-yellow;
  color: $neutral-white;
  outline: none;
  margin-bottom: 15px;
}
.ant-input.secondary{
  background: transparent;
  height: 48px;
  color: $neutral-dark;
  outline: none;
  margin-bottom: 15px;
  margin-bottom: 0;
}

.ant-input:disabled{
  background: #ccc;
}

.ant-form-item-required::before{
  display: none !important;
}

.ant-select, .ant-select-selection{
  width: 100% !important;
  min-height: 48px;
  border-radius: 5px !important;
  background: transparent !important;
  display: flex;
  align-items: center;
}

textarea.ant-input{
  background: transparent !important;
}
.ant-calendar-picker{
  width: 100% !important;
}
.ant-calendar-picker-input{
  width: 100% !important;
  height: 48px;
  background: transparent;
}
