.ant-btn {
  height: auto;
  border-radius: 5px;
  padding: 8px 12px;
  &.ant-btn-primary {
    background-color: $primary-yellow;
    border-color: $primary-yellow;
    color: $primary-dark;
    font-size: 1rem;
    font-family: $font-family-roboto !important;
  }
  &.ant-btn-secondary {
    background-color: $primary-yellow;
    border-color: $primary-yellow;
    color: $neutral-white;
    font-size: 1rem;
    font-family: $font-family-roboto !important;
    width: 100%;
  }
}

.ant-form-item{
  margin-bottom: 12px;
}

.ant-input.primary{
  background: transparent;
  height: 46px;
  border: 1px solid $primary-yellow;
  color: $neutral-white;
  outline: none;
  margin-bottom: 15px;
}
.ant-input.secondary{
  background: transparent;
  height: 56px;
  color: $neutral-dark;
  outline: none;
  margin-bottom: 15px;
  margin-bottom: 0;
}

.ant-input:disabled{
  background: #ccc;
}

.ant-form-item-required::before{
  display: none !important;
}
